@import 'node_modules/skeleton-scss/scss/skeleton.scss';

body {
  font-size: 16px;
  margin-top: 60px;
  background-color: #fafaf1;
  font-family: 'Karla', Helvetica, Arial, sans-serif;
}

a {
  color: #69626b;
  text-decoration: none;
}

ul {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
  margin-top: 30px;
}

.email {
  background-color: #fae6d8;
}
