@import 'node_modules/skeleton-scss/scss/skeleton.scss';

body {
  font-family: 'Karla', Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin-top: 50px;
}

p {
  font-size: 1.2em;
}

a {
  color: #1864ab;
  text-decoration: none;
}

ul {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
  margin-top: 40px;
}
